.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
# Build folders
build/
xbuild/
Debug/
Release/
ipch/
out/

#config

# Dependencies folder
dependencies/

# Resources folder
res/sponza
res/textures
res/cubemaps
res/planets
res/sponza_4k/
res/sponza_4k_curtains/
res.zip

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user

.DS_Store
.cache/
